body{
    margin: 0;
}
.navbar{
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, rgba(127,143,201,1) 3%, rgba(101,124,227,1) 30%, rgba(24,42,117,1) 55%, rgba(2,24,116,1) 82%);
}
#logo{
    float: left;
    height: 80px;
}
.navbar ul {
    margin: 0;
    display: inline-block;
}
.navbar li{
    padding: 28px;
    margin: 0;
    display: inline-block;
    margin-left: 25px;
}
.navbar a:hover{
    color: #efdf55;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#help{
    width: 4%;
    float: right;
    margin-top: 15px;
    margin-right: 1%;
    height: 50px;
    cursor: pointer;
    background: url('../img_common/help.png') center center;
    outline: none;
    background-size: 65%;
    background-repeat: no-repeat;
    outline: none;
}
#help:hover{
    background: url('../img_common/help_gold.png') center center;
    background-size: 65%;
    background-repeat: no-repeat;
    outline: none;
}
.opennav{
    margin-top: 20px;
    float: left;
}
.header .opennav{
    font-size: 30px ;
    margin-left: 2%;
    margin-right: 3%;
    cursor: pointer;
}
.container{
    float: left;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.55);
}

/* SIDE BAR */
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    transition: 0.3s;
}
.sidebar a{
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    margin-top: 8%;
}  
.sidebar a:hover {
    color: #efdf55;
    background: #3d51ac;
} 
.sidebar .closebtn {
    font-size: 37px;
    margin-left: 80%;
}

/*GRÁFICOS*/
#cosmo_seiya{
    height: 100%;
    width: 100%;
}
#cosmo_shiryu{
    height: 100%;
    width: 100%;
}
#cosmo_hyoga{
    height: 100%;
    width: 100%;
}



/* Descrição */

.description{
    float: left;
    background: url(../img_common/fundo.gif) center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#mysidebar{
    background: url(../img_common/band.png) center;
    background-size: 160px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: bottom;
}
.personagem{
    float: left;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 3%;
    width: 29%;
    height: 300px;
    background-color: rgba(255,255,255,0.5);
    border:rgba(61,81,172,1) 3px solid;;
    border-radius: 0 15% 0 15%;
}
#classe_cav{
    display: grid;
    font-size: 16px;
    margin-left: 680px;
    border-radius: 10px;
    outline: none;

}
#seiya{
    background: url(../img_personagens/seiya.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#shiryu{
    background: url(../img_personagens/shiryu.png) center center;
    background-repeat: no-repeat;
    background-size: 85%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#hyoga{
    background: url(../img_personagens/hyoga.png) center center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#shun{
    background: url(../img_personagens/shun.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#ikki{
    background: url(../img_personagens/ikki.png) center center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#marin{
    background: url(../img_personagens/marin.png) center center;
    background-repeat: no-repeat;
    background-size: 90%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#shina{
    background: url(../img_personagens/shina.png) center center;
    background-repeat: no-repeat;
    background-size: 90%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#jamian{
    background: url(../img_personagens/jamian.png) center center;
    background-repeat: no-repeat;
    background-size: 98%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#dante{
    background: url(../img_personagens/dante.png) center center;
    background-repeat: no-repeat;
    background-size: 95%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#kapela{
    background: url(../img_personagens/kapela.png) center center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#misty{
    background: url(../img_personagens/misty.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#agora{
    background: url(../img_personagens/agora.png) center center;
    background-repeat: no-repeat;
    background-size: 61%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#shiva{
    background: url(../img_personagens/shiva.png) center center;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#aco{
    background: url(../img_personagens/aco.png) center center;
    background-repeat: no-repeat;
    background-size: 110%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#athena{
    background: url(../img_personagens/athena.png) center center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#poseidon{
    background: url(../img_personagens/poseidon.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#hades{
    background: url(../img_personagens/hades.png) center center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#mu{
    background: url(../img_personagens/mu.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#aldebaran{
    background: url(../img_personagens/aldebran.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#saga{
    background: url(../img_personagens/saga.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#mdm{
    background: url(../img_personagens/mdm.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#aioria{
    background: url(../img_personagens/aioria.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#shaka{
    background: url(../img_personagens/shaka.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#dohko{
    background: url(../img_personagens/dohko.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#milo{
    background: url(../img_personagens/milo.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#aioros{
    background: url(../img_personagens/aioros.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#shura{
    background: url(../img_personagens/shura.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#camus{
    background: url(../img_personagens/camus.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}
#afrodite{
    background: url(../img_personagens/afrodite.png) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 40%;
    /* float: left; */
}