body{
    margin: 0;
}
.navbar{
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, rgba(127,143,201,1) 3%, rgba(101,124,227,1) 30%, rgba(24,42,117,1) 55%, rgba(2,24,116,1) 82%);
}
#logo{
    float: left;
    height: 80px;
}
.navbar ul {
    margin: 0;
    display: inline-block;
}
.navbar li{
    padding: 28px;
    margin: 0;
    display: inline-block;
    margin-left: 25px;
}
.navbar a:hover{
    color: #efdf55;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#help{
    width: 4%;
    float: right;
    margin-top: 15px;
    margin-right: 1%;
    height: 50px;
    cursor: pointer;
    background: url('../img/help.png') center center;
    outline: none;
    background-size: 65%;
    background-repeat: no-repeat;
    outline: none;
}
#help:hover{
    background: url('../img/help_gold.png') center center;
    background-size: 65%;
    background-repeat: no-repeat;
    outline: none;
}
.opennav{
    margin-top: 20px;
    float: left;
}
.header .opennav{
    font-size: 30px ;
    margin-left: 2%;
    margin-right: 3%;
    cursor: pointer;
}
.container{
    float: left;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.55);
}

/* SIDE BAR */
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    transition: 0.3s;
}
.sidebar a{
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    margin-top: 8%;
}  
.sidebar a:hover {
    color: #efdf55;
    background: #3d51ac;
} 
.sidebar .closebtn {
    font-size: 37px;
    margin-left: 80%;
}
.sobre_box{
    margin-top: 2%;
    margin-left: 9%;
    width: 80%;
    height: 80% ;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
    border: rgba(61,81,172,1) 3px solid;
    overflow-x: hidden;
    transition: 0.3s;
}

/* Descrição */
.description{
    float: left;
    background: url(../img/fundo.gif) center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#mysidebar{
    background: url(../img/band.png) center;
    background-size: 160px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: bottom;
}

.box_outside{
    background: url(../img/perfil.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: rgba(61,81,172,1) 3px solid; 
    border-radius: 100px;
    float: left;
    height: 90%;
    width: 90%;
    margin-left: 4%;
    margin-top: 2%;
    padding: 10px;
}
.box_inside{
    border-radius: 30px;
    background-color: rgba(255,255,255,0.9);
    border: rgba(61,81,172,1) 3px solid;
    height: 550px;
    width: 560px;
    margin-left: 70px;
    padding: 10px;
}
h2{
    text-align: center;
    margin-bottom: 0;
}
p{
    float: left;
    text-align: justify;
    font-family: sans-serif;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 0;
    margin-top: 0;
}
.inside_icons{
    padding: 10px;
    width: 96%;
    height: 9%;
    float: left;
}
.fab{
    font-size: 50px;
    float: left;
    margin-left: 45px;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #c9308f;
}
.fa-twitch{
    color: #9147ff;
}
.fa-github{
    color: #24292e;
}
.fa-linkedin{
    color: rgb(0, 119, 181);
}
